{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "indent": [
            "error",
            4
        ],
        "react/jsx-indent": [
            2,
            4
        ],
        "react/jsx-indent-props": [
            2,
            4
        ],
        "react/prop-types": [
            0
        ]
    }
}