{
    "extends": "airbnb",
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "requireConfigFile": false,
        "babelOptions": {
            "presets": [
                "@babel/preset-react"
            ]
        }
    },
    "env": {
        "browser": true,
        "jest": true
    },
    "rules": {
        "indent": [
            "error",
            4
        ],
        "jsx-a11y/click-events-have-key-events": [
            0
        ],
        "react/jsx-indent": [
            2,
            4
        ],
        "react/jsx-indent-props": [
            2,
            4
        ],
        "react/prop-types": [
            0
        ]
    }
}